ul {
    margin:0;
    padding: 0;
}

.bordered {
    border: 1px solid black;
}


.cookie-container {
    position: relative;
    width: 33%;
    height: 100vh;
    float: left;
    text-justify: center;
}

.counter {
   
    text-align: center;
}

.cookie {
    display: block;
    margin: 15% auto;
    width: 50%;
    transition: all 0.3s ease-out;
}

.cookie:hover {
    transform: scale(1.1);
}



img {
    cursor: pointer;
    user-select: none;
}




/* UPGRADES */

.upgrades {
    display: block;
    width: 33%;
    float: left;
    height: 100vh;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.upgrade {
    border: 1px solid red;
    height: 70px;
    line-height: 70px;
    position: relative;
    transition: background-color 0.3s;
    cursor: pointer;
    user-select: none;
}

.upgrade:hover {
    background-color: rgba(82, 212, 235, 0.5);
}

.upgrade_icon {
    background-image: url("./img/buildings.png");
    width: 64px;
    height: 64px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
}

.content > * {
    position: relative;
    float: left;
    padding-right: 30px;
    font-size: 36px;
}
.content {
    position: relative;
    float: left;
    width: calc(99% - 64px);
}

.content_name {
    
}
.content_owned {
    float: right;
}
